.footer-container {
  background-image: url(./images/plan-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.545rem;
  flex-direction: column;
}
.footer-container p {
  font-size: 1.2rem;
  color: var(--bg-color);
  margin-bottom: 0.5rem;
}
.footer-container h6 {
  font-size: 1.3rem;
  color: var(--bg-color);
  text-decoration: none;
  margin-bottom: 1rem;
}
.footer-container h6 span {
  font-size: 1.4rem;
  color: var(--primary-color);
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.footer-social ul {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.footer-social ul li {
  list-style: none;
}
